@charset "utf-8";
div.flowchart {
  flex-basis: 75rem;
  justify-content: space-evenly;
  background-color: lightgreen;
}
div.program {
  text-align: left;
  background-color: rgb(55, 61, 66);
  color: white;
  flex-basis: 25rem;
}
* {
  margin: 0;
  /*全要素のマージン・パディングをリセット*/
  line-height: 1.5; /*全要素の行の高さを1.5倍にする*/
  color: #333333; /*文字色*/
}
main {
  height: 29rem;
  display: flex;
  justify-content: space-between;
}
.side::-webkit-scrollbar {
  width: 9px;
}
.side::-webkit-scrollbar-track {
  background: auto;
  border: none;
  border-radius: 10px;
}
.side::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.side::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
table {
  height: 49rem;
}
td {
  border: solid 1px cornflowerblue;
  text-align: center;
}
.side {
  padding: 5px;
  display: flex;
  overflow: auto;
  margin: 0.8rem;
  height: 52rem;
  border-radius: 10px;
  justify-content: space-evenly;
}
.side2 {
  align-items: stretch;
  overflow: auto;
}
.side2:nth-child(1) {
  flex-basis: 75vw;
}
.side2:nth-child(2) {
  flex-basis: 25vw;
}
.all {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.side:nth-child(1) {
  flex-basis: 80rem;
  justify-content: space-evenly;
  background-color: cornflowerblue;
}

.side:nth-child(1) > table > tbody > tr > td {
  background-color: dodgerblue;
  align-items: center;
  width: 15rem;
}

.side:nth-child(1) > table > tbody > tr > td > svg {
  padding: 2px;
  width: 10rem;
}
.side:nth-child(2) {
  flex-basis: 20rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: cadetblue;
}
.side:nth-child(2) > svg {
  padding: 0.2rem;
  width: 12rem;
}
.loopStart {
  fill: crimson;
}
.loopEnd {
  fill: darkblue;
  transform: rotate(180deg);
}
.decision {
  fill: darkkhaki;
}
.decisionend {
  fill: hotpink;
}
.document {
  fill: lightgray;
}
.start {
  fill: darkgreen;
}

.elseifdecision {
  fill: firebrick;
}

.elseenddecision {
  fill: black;
}

.elsedecision {
  fill: chocolate;
}
