@charset "utf-8";
* {
  margin: 0;
  padding: 0; /*全要素のマージン・パディングをリセット*/
  line-height: 1.5; /*全要素の行の高さを1.5倍にする*/
  color: #333333; /*文字色*/
}
main {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: auto;
  border: none;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(33, 33, 33, 0.55);
  border-radius: 10px;
}
.side {
  overflow: auto;
  margin: 1rem;
  border-radius: 10px;
  justify-content: space-evenly;
}
.side:nth-child(1) {
  flex-basis: 75rem;
  display: flex;
  justify-content: space-evenly;
  background-color: cornflowerblue;
}
.side:nth-child(1) > .sort-drop-area {
  flex-direction: column;
  background-color: dodgerblue;
  overflow: auto;
  width: 15rem;
}
.side:nth-child(1) > .sort-drop-area > svg {
  margin: 0 auto;
  padding: 3px;
  width: 12rem;
}

.side:nth-child(2) {
  padding: 5px;
  flex-basis: 25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: cadetblue;
}
.side:nth-child(2) > img {
  padding: 0.5rem;
  width: 10rem;
}
.side:nth-child(2) > svg {
  padding: 0.2rem;
  width: 12rem;
}
.ui-sortable {
  display: flex;
}
.ui-state-highlight {
  height: 50px;
  border: dotted 2px #0000ff;
}
.loopStart {
  fill: crimson;
}
.loopEnd {
  fill: darkblue;
  transform: rotate(180deg);
}
.decision {
  fill: darkkhaki;
}
.document {
  fill: lightgray;
}
.start {
  fill: darkgreen;
}

.delete_area {
  width: 15vh;
}
